* {
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control {
  border: 2px solid #ccc;
  width: 250px;
  margin: 5px;
  border-radius: 5px;
}

.text-label {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
